@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sono:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sono:wght@200..800&display=swap');

body {
    padding: 0;
    margin: 100px 200px;
    box-sizing: border-box;
    height: 100vh;
    width: 100wh;
    font-family: Outfit;
    background-color: #252525;
    color: #F3F3F3;
    font-size: 18px;
}

h1 {
    font-size: 67px;
}

h1>span,
h3>span {
    color: #E9DCBE;
}

/* Navigation */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.right-nav>ul {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

li {
    list-style: none;
}

/* Hero */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-hero>p {
    width: 460px;
    font-family: Poppins;
}

.left-hero>h1 {
    width: 530px;
    margin: 10px 0px;
    margin-left: -3px;
    color: #E9DCBE;
}

.right-hero>img {
    height: 390px;
    width: 390px;
    border-radius: 50%;
    border: 20px solid #C4C4C4;
}

/* About me */

.about-me {
    margin: 200px 0px 150px 0px;
}

.about-me-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.education {
    background-color: #8D8A811A;
    padding: 20px 30px;
    border-radius: 20px;
}

.education>p>span {
    color: #E9DCBE;
}

.education>p {
    font-family: Poppins;
    margin: 0;
}

.education>h1 {
    margin: 0;
}

/* Skills */
.skills-section {
    margin-bottom: 150px;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;
    height: 480px;
    margin: 50px 0px;
}

.skills {
    padding: 50px;
    border-radius: 20px;
}

.front-end {
    grid-column: span 3;
    grid-row: span 3;
    background: linear-gradient(to bottom, #E9DCBE, #837C6B)
}

.other-skills {
    grid-column: span 2;
    grid-row: span 2;
    background-color: #F3F3F3;
    color: #252525;
}

.figma,
.git {
    grid-row: span 2;
    background: linear-gradient(to bottom, #F3F3F3, #8D8D8D)
}

.programming {
    grid-column: span 3;
    background-color: #8E8B82;
}

/* Projects */
.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 450px;
    margin: 100px 0px;
    gap: 50px;
}

.project.description {
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
}

.project>p {
    font-family: Poppins;
    width: 380px;
}

.project button {
    width: 180px;
    background-color: #252525;
    color: #F3F3F3;
    border: 2px solid #8E8B82;
    padding: 10px;
    border-radius: 10px;
}

.project img {
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.project.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8E8B82;
    border-radius: 20px;
    padding: 20px;
}

/* Contact */
.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 100px 0px;
}

.contact-images {
    width: auto;
    height: 180px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

/* Footer */
.footer {
    margin-top: 200px;
    padding-bottom: 50px;
}

@media (min-width: 1024px) and (max-width: 1339px) {
    body {
        margin: 50px 100px;
    }

    .right-hero>img {
        height: 300px;
        width: auto;
        border-radius: 50%;
        border: 10px solid #C4C4C4;
    }
}

@media only screen and (max-width: 1023px) {
    body {
        padding: 0;
        margin: 100px 50px;
    }

    .navbar {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    .right-nav {
        display: none;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    .left-hero {
        margin-bottom: 50px;
    }

    .left-hero>p {
        width: auto;
        font-family: Poppins;
        font-size: 16px;
    }

    .left-hero>h1 {
        width: auto;
        font-size: 46px;
        color: #E9DCBE;
    }

    .right-hero>img {
        height: 250px;
        width: auto;
        border-radius: 50%;
        border: 10px solid #C4C4C4;
    }

    .about-me {
        margin: 100px 0px;
    }

    .about-me-container {
        flex-direction: column;
    }

    .about-me>h1 {
        font-size: 46px;
    }
}